.git
.gitignore
README.md

#########
# Rails #
#########
.env
.env.sample
*.rbc
capybara-*.html
tmp
db/*.sqlite3
db/*.sqlite3-journal
public/system
coverage/
spec/tmp
**.orig
config/master.key

########
# Ruby #
########
.bundle
.rvmrc

########
# Node #
########
node_modules/
log/**

# Infrastructure
infrastructure/
