---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hpjaj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
      Authorization:
      - Basic OsomeencryptestringofcharsdlOWQ5MmNiZGQzMzNmYmZiMmUyZDI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1543192932'
      Etag:
      - '"56f02b73ca700a56e6c1615b4d9c3613"'
      Last-Modified:
      - Tue, 16 Oct 2018 01:37:50 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"login":"hpjaj","id":7482329,"node_id":"MDQ6VXNlcjc0ODIzMjk=","avatar_url":"https://avatars0.githubusercontent.com/u/7482329?v=4","gravatar_id":"","url":"https://api.github.com/users/hpjaj","html_url":"https://github.com/hpjaj","followers_url":"https://api.github.com/users/hpjaj/followers","following_url":"https://api.github.com/users/hpjaj/following{/other_user}","gists_url":"https://api.github.com/users/hpjaj/gists{/gist_id}","starred_url":"https://api.github.com/users/hpjaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hpjaj/subscriptions","organizations_url":"https://api.github.com/users/hpjaj/orgs","repos_url":"https://api.github.com/users/hpjaj/repos","events_url":"https://api.github.com/users/hpjaj/events{/privacy}","received_events_url":"https://api.github.com/users/hpjaj/received_events","type":"User","site_admin":false,"name":"Harry
        Levine","company":"oddball.io","blog":"","location":null,"email":null,"hireable":null,"bio":"Software
        Developer ","public_repos":46,"public_gists":113,"followers":10,"following":0,"created_at":"2014-05-04T19:33:30Z","updated_at":"2018-10-16T01:37:50Z"}'
  recorded_at: Mon, 26 Nov 2018 00:28:03 GMT
recorded_with: VCR 4.0.0
