---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/2664
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
      Authorization:
      - Basic OsomeencryptestringofcharsdlOWQ5MmNiZGQzMzNmYmZiMmUyZDI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1546145445'
      Etag:
      - '"9009f409ac2209d42ec896426014b3ca"'
      Last-Modified:
      - Tue, 18 Dec 2018 22:49:13 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/2664","id":238457802,"node_id":"MDExOlB1bGxSZXF1ZXN0MjM4NDU3ODAy","html_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2664","diff_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2664.diff","patch_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2664.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/2664","number":2664,"state":"closed","locked":false,"title":"Global
        way to determine which env you are in: dev/staging/prod","user":{"login":"hpjaj","id":7482329,"node_id":"MDQ6VXNlcjc0ODIzMjk=","avatar_url":"https://avatars0.githubusercontent.com/u/7482329?v=4","gravatar_id":"","url":"https://api.github.com/users/hpjaj","html_url":"https://github.com/hpjaj","followers_url":"https://api.github.com/users/hpjaj/followers","following_url":"https://api.github.com/users/hpjaj/following{/other_user}","gists_url":"https://api.github.com/users/hpjaj/gists{/gist_id}","starred_url":"https://api.github.com/users/hpjaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hpjaj/subscriptions","organizations_url":"https://api.github.com/users/hpjaj/orgs","repos_url":"https://api.github.com/users/hpjaj/repos","events_url":"https://api.github.com/users/hpjaj/events{/privacy}","received_events_url":"https://api.github.com/users/hpjaj/received_events","type":"User","site_admin":false},"body":"##
        Description of change\r\nDiscussion that drove this change can be found in
        this issue:  \r\n\r\nhttps://github.com/department-of-veterans-affairs/vets.gov-team/issues/12447\r\n\r\nAll
        of our deployed envs (dev, staging, and production) have their `Rails.env`
        set to ''production''.  We need a global way to determine which env(staging,
        dev, or prod) we''re in, to target behavior specifically to any of those envs.  \r\n\r\nOne
        use ca[...]
