---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/oddballio/magnifier/pulls/91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
      Authorization:
      - Basic OsomeencryptestringofcharsdlOWQ5MmNiZGQzMzNmYmZiMmUyZDI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4924'
      X-Ratelimit-Reset:
      - '1546141841'
      Etag:
      - '"267af543059d5e3f1c45234c808f27cc"'
      Last-Modified:
      - Sat, 29 Dec 2018 17:00:41 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/oddballio/magnifier/pulls/91","id":241379699,"node_id":"MDExOlB1bGxSZXF1ZXN0MjQxMzc5Njk5","html_url":"https://github.com/oddballio/magnifier/pull/91","diff_url":"https://github.com/oddballio/magnifier/pull/91.diff","patch_url":"https://github.com/oddballio/magnifier/pull/91.patch","issue_url":"https://api.github.com/repos/oddballio/magnifier/issues/91","number":91,"state":"closed","locked":false,"title":"Ability
        to add Comments to a Week In Review","user":{"login":"hpjaj","id":7482329,"node_id":"MDQ6VXNlcjc0ODIzMjk=","avatar_url":"https://avatars0.githubusercontent.com/u/7482329?v=4","gravatar_id":"","url":"https://api.github.com/users/hpjaj","html_url":"https://github.com/hpjaj","followers_url":"https://api.github.com/users/hpjaj/followers","following_url":"https://api.github.com/users/hpjaj/following{/other_user}","gists_url":"https://api.github.com/users/hpjaj/gists{/gist_id}","starred_url":"https://api.github.com/users/hpjaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hpjaj/subscriptions","organizations_url":"https://api.github.com/users/hpjaj/orgs","repos_url":"https://api.github.com/users/hpjaj/repos","events_url":"https://api.github.com/users/hpjaj/events{/privacy}","received_events_url":"https://api.github.com/users/hpjaj/received_events","type":"User","site_admin":false},"body":"##
        Background\r\nIn the new Week in Review submittal page, we need the ability
        to be able to add/update comments to it.\r\n \r\n\r\n## Issue Resolved\r\n<!--
        Keeping the format ''Issue #123'' will automatically link & close the associated
        issue when this PR is merged -->\r\nIssue #90 \r\n \r\n## Definition of Done\r\n
        \r\n- [x] Can add any of the four comment types\r\n- [x] If comments are already
        present, they show up in the correct text area\r\n- [x] If a comment does
        not exist, we create one \r\n- [x] If a comment does exist and is updated,
        we update it\r\n\r\n## Preview \r\n\r\n![2018-12-28 11 49 08](https://user-images.githubusercontent.com/7482329/50525137-debfe180-0a96-11e9-97dc-c06f13bd5df2.gif)\r\n\r\n","created_at":"2018-12-28T18:52:08Z","updated_at":"2018-12-29T17:00:41Z","closed_at":"2018-12-29T17:00:37Z","merged_at":"2018-12-29T17:00:37Z","merge_commit_sha":"60402a13af968773bad1e868dbc16e3cacc82349","assignee":null,"assignees":[],"requested_reviewers":[{"login":"RobAWilkinson","id":1959628,"node_id":"MDQ6VXNlcjE5NTk2Mjg=","avatar_url":"https://avatars1.githubusercontent.com/u/1959628?v=4","gravatar_id":"","url":"https://api.github.com/users/RobAWilkinson","html_url":"https://github.com/RobAWilkinson","followers_url":"https://api.github.com/users/RobAWilkinson/followers","following_url":"https://api.github.com/users/RobAWilkinson/following{/other_user}","gists_url":"https://api.github.com/users/RobAWilkinson/gists{/gist_id}","starred_url":"https://api.github.com/users/RobAWilkinson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RobAWilkinson/subscriptions","organizations_url":"https://api.github.com/users/RobAWilkinson/orgs","repos_url":"https://api.github.com/users/RobAWilkinson/repos","events_url":"https://api.github.com/users/RobAWilkinson/events{/privacy}","received_events_url":"https://api.github.com/users/RobAWilkinson/received_events","type":"User","site_admin":false}],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/oddballio/magnifier/pulls/91/commits","review_comments_url":"https://api.github.com/repos/oddballio/magnifier/pulls/91/comments","review_comment_url":"https://api.github.com/repos/oddballio/magnifier/pulls/comments{/number}","comments_url":"https://api.github.com/repos/oddballio/magnifier/issues/91/comments","statuses_url":"https://api.github.com/repos/oddballio/magnifier/statuses/6f2cf01832c26a0a7de7e9f3707e6426878fc2b8","head":{"label":"oddballio:add-comments-to-week-in-review","ref":"add-comments-to-week-in-review","sha":"6f2cf01832c26a0a7de7e9f3707e6426878fc2b8","user":{"login":"oddballio","id":17600777,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3NjAwNzc3","avatar_url":"https://avatars1.githubusercontent.com/u/17600777?v=4","gravatar_id":"","url":"https://api.github.com/users/oddballio","html_url":"https://github.com/oddballio","followers_url":"https://api.github.com/users/oddballio/followers","following_url":"https://api.github.com/users/oddballio/following{/other_user}","gists_url":"https://api.github.com/users/oddballio/gists{/gist_id}","starred_url":"https://api.github.com/users/oddballio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/oddballio/subscriptions","organizations_url":"https://api.github.com/users/oddballio/orgs","repos_url":"https://api.github.com/users/oddballio/repos","events_url":"https://api.github.com/users/oddballio/events{/privacy}","received_events_url":"https://api.github.com/users/oddballio/received_events","type":"Organization","site_admin":false},"repo":{"id":150902940,"node_id":"MDEwOlJlcG9zaXRvcnkxNTA5MDI5NDA=","name":"magnifier","full_name":"oddballio/magnifier","private":false,"owner":{"login":"oddballio","id":17600777,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3NjAwNzc3","avatar_url":"https://avatars1.githubusercontent.com/u/17600777?v=4","gravatar_id":"","url":"https://api.github.com/users/oddballio","html_url":"https://github.com/oddballio","followers_url":"https://api.github.com/users/oddballio/followers","following_url":"https://api.github.com/users/oddballio/following{/other_user}","gists_url":"https://api.github.com/users/oddballio/gists{/gist_id}","starred_url":"https://api.github.com/users/oddballio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/oddballio/subscriptions","organizations_url":"https://api.github.com/users/oddballio/orgs","repos_url":"https://api.github.com/users/oddballio/repos","events_url":"https://api.github.com/users/oddballio/events{/privacy}","received_events_url":"https://api.github.com/users/oddballio/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/oddballio/magnifier","description":null,"fork":false,"url":"https://api.github.com/repos/oddballio/magnifier","forks_url":"https://api.github.com/repos/oddballio/magnifier/forks","keys_url":"https://api.github.com/repos/oddballio/magnifier/keys{/key_id}","collaborators_url":"https://api.github.com/repos/oddballio/magnifier/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/oddballio/magnifier/teams","hooks_url":"https://api.github.com/repos/oddballio/magnifier/hooks","issue_events_url":"https://api.github.com/repos/oddballio/magnifier/issues/events{/number}","events_url":"https://api.github.com/repos/oddballio/magnifier/events","assignees_url":"https://api.github.com/repos/oddballio/magnifier/assignees{/user}","branches_url":"https://api.github.com/repos/oddballio/magnifier/branches{/branch}","tags_url":"https://api.github.com/repos/oddballio/magnifier/tags","blobs_url":"https://api.github.com/repos/oddballio/magnifier/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/oddballio/magnifier/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/oddballio/magnifier/git/refs{/sha}","trees_url":"https://api.github.com/repos/oddballio/magnifier/git/trees{/sha}","statuses_url":"https://api.github.com/repos/oddballio/magnifier/statuses/{sha}","languages_url":"https://api.github.com/repos/oddballio/magnifier/languages","stargazers_url":"https://api.github.com/repos/oddballio/magnifier/stargazers","contributors_url":"https://api.github.com/repos/oddballio/magnifier/contributors","subscribers_url":"https://api.github.com/repos/oddballio/magnifier/subscribers","subscription_url":"https://api.github.com/repos/oddballio/magnifier/subscription","commits_url":"https://api.github.com/repos/oddballio/magnifier/commits{/sha}","git_commits_url":"https://api.github.com/repos/oddballio/magnifier/git/commits{/sha}","comments_url":"https://api.github.com/repos/oddballio/magnifier/comments{/number}","issue_comment_url":"https://api.github.com/repos/oddballio/magnifier/issues/comments{/number}","contents_url":"https://api.github.com/repos/oddballio/magnifier/contents/{+path}","compare_url":"https://api.github.com/repos/oddballio/magnifier/compare/{base}...{head}","merges_url":"https://api.github.com/repos/oddballio/magnifier/merges","archive_url":"https://api.github.com/repos/oddballio/magnifier/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/oddballio/magnifier/downloads","issues_url":"https://api.github.com/repos/oddballio/magnifier/issues{/number}","pulls_url":"https://api.github.com/repos/oddballio/magnifier/pulls{/number}","milestones_url":"https://api.github.com/repos/oddballio/magnifier/milestones{/number}","notifications_url":"https://api.github.com/repos/oddballio/magnifier/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/oddballio/magnifier/labels{/name}","releases_url":"https://api.github.com/repos/oddballio/magnifier/releases{/id}","deployments_url":"https://api.github.com/repos/oddballio/magnifier/deployments","created_at":"2018-09-29T21:03:57Z","updated_at":"2018-12-29T17:00:39Z","pushed_at":"2018-12-29T22:50:55Z","git_url":"git://github.com/oddballio/magnifier.git","ssh_url":"git@github.com:oddballio/magnifier.git","clone_url":"https://github.com/oddballio/magnifier.git","svn_url":"https://github.com/oddballio/magnifier","homepage":null,"size":627,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":22,"license":null,"forks":0,"open_issues":22,"watchers":0,"default_branch":"master"}},"base":{"label":"oddballio:master","ref":"master","sha":"14c5fa914365e0b31199c9fb77c554c3cbf5e6ad","user":{"login":"oddballio","id":17600777,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3NjAwNzc3","avatar_url":"https://avatars1.githubusercontent.com/u/17600777?v=4","gravatar_id":"","url":"https://api.github.com/users/oddballio","html_url":"https://github.com/oddballio","followers_url":"https://api.github.com/users/oddballio/followers","following_url":"https://api.github.com/users/oddballio/following{/other_user}"[...]
