---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/oddballio/magnifier/pulls/93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
      Authorization:
      - Basic OsomeencryptestringofcharsdlOWQ5MmNiZGQzMzNmYmZiMmUyZDI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1546145445'
      Etag:
      - '"34f9fb12baecb120245033b1bcd6a524"'
      Last-Modified:
      - Sat, 29 Dec 2018 22:52:51 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/oddballio/magnifier/pulls/93","id":241467458,"node_id":"MDExOlB1bGxSZXF1ZXN0MjQxNDY3NDU4","html_url":"https://github.com/oddballio/magnifier/pull/93","diff_url":"https://github.com/oddballio/magnifier/pull/93.diff","patch_url":"https://github.com/oddballio/magnifier/pull/93.patch","issue_url":"https://api.github.com/repos/oddballio/magnifier/issues/93","number":93,"state":"open","locked":false,"title":"GitHub
        service objects for getting an issue or PR based on its URL","user":{"login":"hpjaj","id":7482329,"node_id":"MDQ6VXNlcjc0ODIzMjk=","avatar_url":"https://avatars0.githubusercontent.com/u/7482329?v=4","gravatar_id":"","url":"https://api.github.com/users/hpjaj","html_url":"https://github.com/hpjaj","followers_url":"https://api.github.com/users/hpjaj/followers","following_url":"https://api.github.com/users/hpjaj/following{/other_user}","gists_url":"https://api.github.com/users/hpjaj/gists{/gist_id}","starred_url":"https://api.github.com/users/hpjaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hpjaj/subscriptions","organizations_url":"https://api.github.com/users/hpjaj/orgs","repos_url":"https://api.github.com/users/hpjaj/repos","events_url":"https://api.github.com/users/hpjaj/events{/privacy}","received_events_url":"https://api.github.com/users/hpjaj/received_events","type":"User","site_admin":false},"body":"##
        Background\r\n<!-- What would a code reviewer, or a future dev, need to know
        about this PR in order to understand why this PR is necessary -->\r\nThere
        will be times when a user needs to manually add in an issue or pull request
        into their week in review, that is not showing up already.\r\n\r\nIf it does
        not already exist in our db, we''ll need to fetch it from GitHub''s API.\r\n\r\n\r\n##
        Issue Resolved\r\n<!-- Keeping the format ''Issue #123'' will automatically
        link & close the associated issue when this PR is merged -->\r\nIssue #92
        \r\n \r\n## Definition of Done\r\n\r\n- [x] GitHub service object to find
        an issue based on its HTML URL\r\n- [x] GitHub service object to find a PR
        based on its HTML URL\r\n\r\n","created_at":"2018-12-29T22:50:54Z","updated_at":"2018-12-29T22:52:51Z","closed_at":null,"merged_at":null,"merge_commit_sha":"67b30f884121be3349c0f788284b6608efafb160","assignee":null,"assignees":[],"requested_reviewers":[{"login":"RobAWilkinson","id":1959628,"node_id":"MDQ6VXNlcjE5NTk2Mjg=","avatar_url":"https://avatars1.githubusercontent.com/u/1959628?v=4","gravatar_id":"","url":"https://api.github.com/users/RobAWilkinson","html_url":"https://github.com/RobAWilkinson","followers_url":"https://api.github.com/users/RobAWilkinson/followers","following_url":"https://api.github.com/users/RobAWilkinson/following{/other_user}","gists_url":"https://api.github.com/users/RobAWilkinson/gists{/gist_id}","starred_url":"htt[...]
