---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/2682
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
      Authorization:
      - Basic OsomeencryptestringofcharsdlOWQ5MmNiZGQzMzNmYmZiMmUyZDI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1546122724'
      Etag:
      - '"f9d68fe3e9a20e44644cba2b0dd4f252"'
      Last-Modified:
      - Thu, 20 Dec 2018 00:28:24 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/2682","id":240004001,"node_id":"MDExOlB1bGxSZXF1ZXN0MjQwMDA0MDAx","html_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2682","diff_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2682.diff","patch_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2682.patch","issue_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/2682","number":2682,"state":"closed","locked":false,"title":"13974
        assign special issues","user":{"login":"SMLuthi","id":5296332,"node_id":"MDQ6VXNlcjUyOTYzMzI=","avatar_url":"https://avatars3.githubusercontent.com/u/5296332?v=4","gravatar_id":"","url":"https://api.github.com/users/SMLuthi","html_url":"https://github.com/SMLuthi","followers_url":"https://api.github.com/users/SMLuthi/followers","following_url":"https://api.github.com/users/SMLuthi/following{/other_user}","gists_url":"https://api.github.com/users/SMLuthi/gists{/gist_id}","starred_url":"https://api.github.com/users/SMLuthi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/SMLuthi/subscriptions","organizations_url":"https://api.github.com/users/SMLuthi/orgs","repos_url":"https://api.github.com/users/SMLuthi/repos","events_url":"https://api.github.com/users/SMLuthi/events{/privacy}","received_events_url":"https://api.github.com/users/SMLuthi/received_events","type":"User","site_admin":false},"body":"##
        Description of change\r\n<!-- Please include a description of the change.
        What would a code reviewer, or a future dev, need to know about this PR in
        order to understand why this PR is necessary. This could include dependencies
        introduced, changes in behavior, pointers to more detailed documentation -->\r\nWe
        need to handle special issues if they are submitted with their disabilities.
        Currently, evss only accepts one single issue b[...]
