---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=type:pr%20state:open%20org:department-of-veterans-affairs%20author:hpjaj%20updated:%3E=2018-09-01T20:43:46Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/vnd.github.v3+json
      Authorization:
      - Basic OsomeencryptestringofcharsdlOWQ5MmNiZGQzMzNmYmZiMmUyZDI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1540346452'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/2380","repository_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/2380/labels{/name}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/2380/comments","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/issues/2380/events","html_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2380","id":373259353,"node_id":"MDExOlB1bGxSZXF1ZXN0MjI1MjMxMjE0","number":2380,"title":"Adds
        new Vet360 error code","user":{"login":"hpjaj","id":7482329,"node_id":"MDQ6VXNlcjc0ODIzMjk=","avatar_url":"https://avatars0.githubusercontent.com/u/7482329?v=4","gravatar_id":"","url":"https://api.github.com/users/hpjaj","html_url":"https://github.com/hpjaj","followers_url":"https://api.github.com/users/hpjaj/followers","following_url":"https://api.github.com/users/hpjaj/following{/other_user}","gists_url":"https://api.github.com/users/hpjaj/gists{/gist_id}","starred_url":"https://api.github.com/users/hpjaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hpjaj/subscriptions","organizations_url":"https://api.github.com/users/hpjaj/orgs","repos_url":"https://api.github.com/users/hpjaj/repos","events_url":"https://api.github.com/users/hpjaj/events{/privacy}","received_events_url":"https://api.github.com/users/hpjaj/received_events","type":"User","site_admin":false},"labels":[{"id":851744427,"node_id":"MDU6TGFiZWw4NTE3NDQ0Mjc=","url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/labels/dragons","name":"dragons","color":"0857e0","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-10-24T00:44:53Z","updated_at":"2018-10-24T00:46:35Z","closed_at":null,"author_association":"MEMBER","pull_request":{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets-api/pulls/2380","html_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2380","diff_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2380.diff","patch_url":"https://github.com/department-of-veterans-affairs/vets-api/pull/2380.patch"},"body":"##
        Description of change\r\nStems from Sentry logs in production:\r\n\r\nhttp://sentry.vetsgov-internal/vets-gov/platform-api-production/issues/48642/\r\n\r\n##
        Acceptance Criteria (Definition of Done)\r\n\r\n#### Unique to this PR\r\n<!--
        This would be a good place to include feature flag check item and info, specific
        dashboards and instrumentation check item and info -->\r\n- [x] Adds new error
        key to exceptions file \r\n\r\n#### Applies to all PRs\r\n\r\n- [x] Appropriate
        logging\r\n- [x] Swagger docs have been updated, if applicable\r\n- [x] Provide
        link to originating GitHub issue, or connected to it via ZenHub\r\n- [x] Does
        not contain any sensitive information (i.e. PII/credentials/internal URLs/etc.,
        in logging, hardcoded, or in specs)\r\n- [x] Provide which alerts would indicate
        a problem with this functionality (if applicable)\r\n","score":1.0},{"url":"https://api.github.com/repos/department-of-veterans-affairs/vets.gov-team/issues/12624","repository_url":"https://api.github.com/repos/department-of-veterans-affairs/vets.gov-team","labels_url":"https://api.github.com/repos/department-of-veterans-affairs/vets.gov-team/issues/12624/labels{/name}","comments_url":"https://api.github.com/repos/department-of-veterans-affairs/vets.gov-team/issues/12624/comments","events_url":"https://api.github.com/repos/department-of-veterans-affairs/vet[...]
